[user]
	name = Martin Geiseler
	email = hallo@tralafiti.de
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[include]
	path = ~/.gitconfig-local
[init]
	templatedir = ~/.git-template
[alias]
	fuu = !git clean -df && git reset --hard
	stash-staged = "!bash -c \"git stash --keep-index; git stash push -m \"staged\" --keep-index; git stash pop stash@{1}\""
[checkout]
	defaultRemote = origin
[pull]
	rebase = false
