[user]
	name = Martin Geiseler
	email = hallo@tralafiti.de
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[include]
	path = ~/.gitconfig-local
[init]
	templatedir = ~/.git-template
[alias]
	fuu = !git clean -df && git reset --hard
[checkout]
	defaultRemote = origin
